#tweetWrap{
    position: relative;
    width:90%;
    height:60%;
    background:white;
    margin:0 auto;
    top:20px;
    z-index:10;
    overflow-y: scroll;
    overflow-x: hidden;
}
#selectBtn{
    position: absolute;
    bottom:20px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.select{
    background-color: rgba(255, 118, 117,0.7);
    transition: all 0.5s ease-out 0s;
}
#block_post{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    background:rgba(0,0,0,0.4);
    z-index:15;
    margin:0 auto;
    right:0;
    left:0;
}